<div class="container">
  <div class="row">
    <div class="col align-self-center text-center">
      <h1 style="position: relative; top: 200px; left: 1px; font-size: 6em; color: white;">403</h1>
      <h4 style="position: relative; top: 180px; left: 1px; color: white; font-weight: 300;">No tienes permisos!</h4>
      <h4 style="position: relative; top: 180px; left: 1px; color: white; font-weight: 300;">
          <button type="button" style="position: relative;" class="btn btn-outline-light" (click)="volver()">Volver a la pagina principal</button>
      </h4>
      <img 
        src="assets/82423891_469472713688306_6141076662252470272_n.png" 
        style="margin-left: 20px; width: 600px; height: 500px;">
    </div>
  </div>
</div>