<!--
=============================================================
Esta vista solo se mostrara si el usuario autenticado tiene 
extrictamente los roles admin, comercios_afiliados

<app-guard-view [allRol]="['admin', 'comercios_afiliados']"></app-guard-view>
-->



<!--
================================================================================
Esta vista solo se mostrara si el usuario autenticado tiene 
por lo menos uno de los siguientes roles: 'admin', 'comercios_afiliados', 'fake' 

<app-guard-view [anyRol]="['admin', 'comercios_afiliados', 'fake']"></app-guard-view>
-->

<!--
===========================================================================
Usando los roles programaticamente ver el codigo en la clase del componente 
-->
<div style="padding: 20px;">
  <div class="row">
    <div class="col-sm-12">
      <p *ngIf="guard.valid['guardA']">{{textoProtegido}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span>{{textoDescripcion}}</span>
      <span style="margin-left: 10px;"></span>
      <button 
        class="btn btn-outline-primary btn-sm" 
        (click)="onClickTest()">
        Prueba
      </button>
    </div>
  </div>
</div>



