.container-bg {
    background: white;
    -webkit-box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
}