<ul class="nav nav-bg">
	<span class="brand">Microfronted</span>
</ul>
<div id='cssmenu'>
	<ul>
		<li [class]="item.className" *ngFor="let item of menu">
			<a (click)="redirectToView(item)"><span>{{item.uiName}}</span></a>
			<ul *ngIf="item.childrens.length">
				<li [class]="item.className" *ngFor="let item of item.childrens">
					<a (click)="redirectToView(item)"><span>{{item.uiName}}</span></a>
					<ul *ngIf="item.childrens.length">
						<li [class]="item.className" *ngFor="let item of item.childrens">
							<a (click)="redirectToView(item)"><span>{{item.uiName}}</span></a>
							<ul *ngIf="item.childrens.length">
								<li [class]="item.className" *ngFor="let item of item.childrens">
									<a (click)="redirectToView(item)"><span>{{item.uiName}}</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="salir">
			<a (click)="logout()">
				<span style="margin-right: 5px;">Salir</span>
				<i class="fas fa-sign-out-alt" style="color: #d8130d; font-size: 1.1em;"></i>
			</a>
		</li>
	</ul>
</div>