<form action="index.html" class="login-form"  [formGroup]="loginForm">
      
  <h3 style="position: relative;">
      <span class="brand">Microfrontend</span>
  </h3>

  <div class="txtb">
    <input type="text" placeholder="Username" formControlName="username">
  </div>

  <div class="txtb">
    <input type="password" placeholder="Password" formControlName="password">
  </div>

  <input type="submit" class="logbtn" value="Login" (click)="login()">

</form>